html {
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #222;
}